html {
  overflow-y: scroll;
}

:root {
    --background: #ffffff;
    --text-primary: #000000;
    --border-color: #000000;
    --background-side: #000000;
    --shadow: rgba(0, 0, 0, 0.3);
    --button-bg: #000000;
    --button-text: #ffffff;
    --button-hover-bg: #333333;
    --button-hover-text: #ffffff;
    --button-line: #ffffff;
}

[data-theme="dark"] {
    --background: #121212;
    --text-primary: #ffffff;
    --border-color: #ffffff;
    --background-side: #000000;
    --shadow: rgba(255, 255, 255, 0.3);
    --button-bg: #ffffff;
    --button-text: #000000;
    --button-hover-bg: #cccccc;
    --button-hover-text: #000000;
    --button-line: #000000;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background);
    color: var(--text-primary);
    transition: background-color 0.3s ease, color 0.3s ease;
} 
nav {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    gap: 450px;
    align-items: center;
    padding: 10px 0px;
    background-color: #000;
    border-bottom: 1px solid #ddd;
}

.nav-section {
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
}

.nav-section li a {
    padding: 0 10px;
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
}
.nav-section li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.6s ease;
}
.nav-section li a:hover{
    color: #aaa;
}
.nav-section li a:hover::after {
    transform: scaleX(0.8);
}
.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
}
.logo img{
    height: 100%;
    object-fit: contain;
}
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        gap: 10px;
    }

    .nav-section {
        justify-content: center;
        flex-wrap: wrap;
    }
}

.titulo {
    color: var(--text-primary);
    font-size: 25px;
    text-align: center;
    position: relative;
    top: 100px;
}

p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 40px;
    position: relative;
    top: 100px;
}

form {
    max-width: 900px;
    margin: auto;
    position: relative;
    top: 90px;
}

input, textarea {
    width: 96.5%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.row {
    display: flex;
    gap: 20px;
}

.row input {
    flex: 1;
}

.buttonEnviar {
    width: 100%;
    padding: 20px;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.5s, color 0.3s;
}

.buttonEnviar::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background-color: var(--button-line);
    transition: width 1s ease;
}

.buttonEnviar:hover::after {
    width: 100%;
}

.buttonEnviar:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-text);
}

.menu-button {
    background: none;
    border: none;
    position: relative;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
.menu-button::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.6s ease;
}
.menu-button:hover{
    color: #aaa;
}
.menu-button:hover::after{
    transform: scaleX(0.8);
}

.side-menu {
    position: fixed;
    top: 0;
    right: -535px; 
    width: 500px;
    height: 100%;
    background-color: black;
    color: white;
    transition: right 0.5s ease;
    padding: 2rem 1rem;
    z-index: 1100;
    border-left: 2px solid white;
}

.side-menu.open {
    right: 0; 
}

.side-menu h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 0 0.5rem 0;
    text-align: center;
    letter-spacing: 0.5px;
}

.side-menu h3 {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 2rem 0;
    text-align: center;
    font-style: italic;
}

.side-menu a {
    display: block;
    color: white;
    margin: 1rem 0;
    text-decoration: none;
    text-align: center;
    position: relative;
}
.side-menu a:hover{
    color: #aaa;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    float: right;
    cursor: pointer;
}
.Icono{
    width: 400px;
    position: relative;
    left: 10%;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000; 
}
  
.overlay.visible {
    opacity: 1;
    visibility: visible;
}

.footer{
    text-align: center;
    font-size: 9px;
    color: var(--text-primary);
    margin-top: 22rem;
}